version: "3.8"

services:
  k6:
    image: grafana/k6:latest
    ports:
      - "6565:6565"
    environment:
      - K6_OUT=influxdb=http://influxdb:8086/k6
    volumes:
      - ../../scripts/load-test/scenarios:/scenarios
    networks:
      - load_test_net

  influxdb:
    image: influxdb:1.8
    ports:
      - "8086:8086"
    environment:
      - INFLUXDB_DB=k6
    networks:
      - load_test_net

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3002:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ../shared/grafana-dashboards:/var/lib/grafana/dashboards
    networks:
      - load_test_net
    depends_on:
      - influxdb

networks:
  load_test_net:
    driver: bridge
