# Build output
build/
*.js
*.js.map
*.d.ts

# Exceto o package.json
!package.json

# Node modules (caso seja instalado localmente)
node_modules/

# Logs
*.log

# Arquivos de configuração local
.env.local